// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
  margin-top: 4px;
  margin-bottom: 8px;
}

.you {
  border-left: 5px solid rgb(184, 182, 182);
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(50, 49, 49);
  margin-bottom: 16px;
}

.coach {
  border-left: 5px solid rgb(184, 182, 182);
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(50, 49, 49);
  margin-bottom: 16px;
  background-color: rgba(255, 255, 53, 0.279);
}

a {
  text-decoration: none;
  color: rgb(87, 176, 220);
}

a:hover {
  color: rgb(23, 160, 228);;
}
